<!DOCTYPE html>
<html>
  <head>
    <title>Propugnare</title>
    <meta name="description" content="コードを武器に戦う新感覚のプログラミングバトルアプリ。あなたの論理的思考と戦略が勝利を左右します。今すぐ参加して、コーディングスキルを競い合いましょう！">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag('favicon.ico') %>
    <link rel="canonical" href="https://propugnare.online">
    <!-- Googleアナリティクストラッキングid tag (gtag.js) --><script async src="https://www.googletagmanager.com/gtag/js?id=G-WB38P9E2ZY"></script><script>window.dataLayer = window.dataLayer || [];function gtag(){dataLayer.push(arguments);}gtag('js', new Date());gtag('config', 'G-WB38P9E2ZY');</script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
